#add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 20px;
}

#add-button:hover {
  background-color: #0052aa;
  transition: 0.5s ease;
}

#bookmark-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

#bookmark-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  background-color: #303030;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: none;
  font-size: 1.5rem;
}

input[type="color"] {
  outline: none;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 10px;
  padding: 0;
  background-color: transparent;
  width: 15%;
  height: auto;
  cursor: pointer;
}

#bookmarkcolor::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #fff;
}

#bookmarkcolor::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #fff;
}

input[type="text"]:focus {
  outline: none;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: red;
  border: none;
  border-radius: 50%;
}

#bookmark-form input[type="text"] {
  margin: 10px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #303030;
  color: white;
}

#bookmark-form #submit {
  font-family: "Gruppo";
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: #707070;
  color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

#bookmark-form #submit:hover {
  cursor: pointer;
  background-color: #458bc2;
  color: white;
  transition: 0.5s ease;
}

#bookmark-list {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.bookmark-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #343434;
}

#bookmark-list a,
#bookmark-list a:visited,
#bookmark-list a:link {
  color: white;
  text-decoration: none;
}

.settingsbtn {
  border-radius: 50%;
  border: none;
  display: flex;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
}

.settingsbtn:hover {
  background-color: rgba(65, 65, 65, 0.5);
}

.settingsbtn > svg {
  border-radius: inherit;
  padding: 0.5rem;
  fill: #fff;
  width: 38px;
  height: 38px;
}

.settingsbtn > svg:active {
  background-color: rgba(65, 65, 65, 0.5);
}

.settingsbtn > svg:not(:active) {
  animation: fadeOut 0.9s;
}

@keyframes fadeOut {
  0% {
    outline: 1px solid rgba(90, 90, 90, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

#settings-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: red;
  border: none;
  border-radius: 50%;
}

#settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

#settings-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  background-color: #303030;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: none;
}

#new-bookmarkcolor {
  outline: none;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 10px;
  padding: 0;
  background-color: transparent;
  width: 15%;
  height: auto;
}

#new-bookmarkcolor::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #fff;
}

#new-bookmarkcolor::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #fff;
}

#settings-form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#settings-form {
  width: 80%;
}

#settings-form input[type="text"] {
  margin: 10px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #303030;
  color: white;
}

#settings-form #submit {
  font-family: "Gruppo";
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: #707070;
  color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

#settings-form #submit:hover {
  cursor: pointer;
  background-color: #458bc2;
  color: white;
  transition: 0.5s ease;
}

#delete-settings {
  font-family: "Gruppo";
  margin-top: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex !important;
  justify-self: center;
  align-self: center;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

#delete-settings,
button span {
  transition: 200ms;
}

#delete-settings .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

#delete-settings .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-settings svg {
  width: 15px;
  fill: #eee;
}

#delete-settings:hover {
  background: #ff3636;
}

#delete-settings:hover .text {
  color: transparent;
}

#delete-settings:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

#delete-settings:focus {
  outline: none;
}

#delete-settings:active .icon svg {
  transform: scale(0.8);
}

.drop-target {
  border: 2px dashed #3498db;
  background-color: rgba(52, 152, 219, 0.2);
}
